body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f4ff;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 48px 2px rgba(0,0,0,0.75);
    border: 2px solid black;
}


h1, h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 80px;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 14px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #1c6690;
}

.button-grey {
    display: inline-block;
    margin-right: 10px;
    padding: 12px 20px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.clickers{
    padding-left: 5%;
    display: flex;
    gap: 40%;
}

.button-grey:hover {
    border: 2px solid #2980b9;
    color: black;
}

td {
    display: flex;
    justify-content: space-between;
}

td a {
    margin: 0; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left; 
}

th {
    background-color: #f2f2f2; 
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
